* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Raleway;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    text-align: center;
    font-weight: 400;
}
h2 {
    text-align: center;
}
button {
    margin-top: 1rem;
    padding: 1rem;
    min-width: 80px;
    border-radius: 10px;
    border: 1px solid blueviolet;
    background-color: aliceblue;
    transition: background-color 0.2s ease;
}
button:active {
    background-color: aqua;
}
.resetBtn {
    font-weight: 600;
    max-width: 80px;
    color: white;
    background-color: rgb(210, 98, 98);
}

.resetBtn:active {
    background-color: aliceblue;
    color: black;
}

.Game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}